useDynLib("KERE")

import("methods")

export(KERE,
predict.KERE,
cv.KERE,
cv2d.KERE,

## kernel functions
"rbfdot",
"laplacedot",
"besseldot",
"polydot",
"tanhdot",
"vanilladot",
"anovadot",
"splinedot",
"stringdot",
"kernelMatrix",
"kernelMult",
"kernelPol",
"kernelFast",
"as.kernelMatrix",
"kpar"
)

S3method("plot","KERE")
S3method("plot","cv.KERE")
S3method("predict","KERE")

exportClasses("kernel", "rbfkernel", "laplacekernel",
              "besselkernel", "tanhkernel", "polykernel","fourierkernel",
              "vanillakernel", "anovakernel", "splinekernel",
              "stringkernel","kernelMatrix","kfunction")