useDynLib("kerneltool")

import("methods")

export(kerneltool,
predict.kerneltool,
predict.expkernpath2,
cv.kerneltool,
cv.expkernpath2,

## kernel functions
"rbfdot",
"laplacedot",
"besseldot",
"polydot",
"tanhdot",
"vanilladot",
"anovadot",
"splinedot",
"stringdot",
"kernelMatrix",
"kernelMult",
"kernelPol",
"kernelFast",
"as.kernelMatrix",
"kpar"
)

S3method("plot","kerneltool")
S3method("plot","cv.kerneltool")
S3method("predict","kerneltool")


exportClasses("kernel", "rbfkernel", "laplacekernel",
              "besselkernel", "tanhkernel", "polykernel","fourierkernel",
              "vanillakernel", "anovakernel", "splinekernel",
              "stringkernel","kernelMatrix","kfunction")